<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>Super Sightings</title>
    </head>
    <body>
        <!-- Main Body of Page -->
        <div class="container">
            <div class="row m-4">
                <div class="col text-center border border-dark">
                    <h1><a href="/" class="text-dark">Super Hero Sightings</a></h1>
                </div>
            </div>
            <div class="row m-4 border border-darl">
                <div class="col text-center m-3">
                    <a href="supers" class="btn btn-outline-primary btn-lg">Supers</a>
                </div> 
                <div class="col text-center m-3">
                    <a href="locations" class="btn btn-outline-primary btn-lg">Locations</a>
                </div> 
                <div class="col text-center m-3">
                    <a href="sightings" class="btn btn-outline-primary btn-lg">Sightings</a>
                </div> 
                <div class="col text-center m-3">
                    <a href="organizations" class="btn btn-outline-primary btn-lg">Organizations</a>
                </div> 
                <div class="col text-center m-3">
                    <a href="superpowers" class="btn btn-outline-primary btn-lg">Powers</a>
                </div> 

            </div>
            <!--Add error message-->

            <div class="row m-4 border border-dark">
                <div class="col-12 m-1 text-center" 
                     th:if="${!errors.isEmpty()}">
                    <p class="alert alert-danger" th:each="error : ${errors}" 
                       th:text="${error.message}">Error message</p>
                </div>
                <div class="col-3 text-center m-3">
                    <span class="h3">Add Hero:</span>
                </div>
                <div class="col-7 text-center m-3">
                    <form action="addHero" method="POST" enctype="multipart/form-data">
                        <div class="form-group row">
                            <label for="name" class="col-3 col-form-label">
                                Name</label>
                            <div class="col-9">
                                <input type="text" name="name" 
                                       id="name" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="superpower" class="col-3 col-form-label">Superpower</label>
                            <div class="col-9">
                                <select id="superpower" name="id" class="form-control">
                                    <option th:each="superpower : ${superpowers}" 
                                            th:value="${superpower.id}" 
                                            th:text="${superpower.name}">SuperPower</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="description" class="col-3 col-form-label">
                                Description</label>
                            <div class="col-9">
                                <input type="text" name="description" 
                                       id="description" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="organizations" class="col-3 col-form-label">
                                Organization</label>
                            <div class="col-9">
                                <select multiple id="organizations" name="orgId" class="form-control">
                                    <option th:each="organization : ${organizations}"
                                            th:value="${organization.id}"
                                            th:text="${organization.name}">
                                        Organization Name</option>

                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="superImage" class="col-3 col-form-label">Super Image</label>
                            <div class="col-9 text-left">
                                <input type="file" name="superImageToSave" id="superImage" class="file"/>
                            </div>  
                        </div>
                        <button type="submit" class="btn btn-primary">Add Hero</button>
                    </form>

                </div>

            </div>

            <div class="row m-4 border border-dark">
                <div class="col text-center m-3">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Superpower</th>
                                <th>Details</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="hero : ${supers}">
                                <td th:text ="${hero.id}">HeroId</td>
                                <td th:text ="${hero.name}">Superperson Name</td>
                                <td th:text ="${hero.superPower.name}">Superpower</td>
                                <td><a href="#" th:href="@{/heroDetails(id=${hero.id})}">Details</a></td>
                                <td><a href="#" th:href="@{/editSuper(id=${hero.id})}">Edit</a></td>
                                <td><a data-toggle="modal" class="btn btn-danger btn-sm deleteButton" style="color:white" th:data-id="${hero.id}" data-target="#deleteSupe">Delete</a></td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="modal" id="deleteSupe" data-target="modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete Supe:</h5>
                                    <button type ="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body"> 
                                    <div class="modal-body"> 
                                        Are you sure you want to confirm this delete?
                                        <form method="GET" action="">
                                            <input type="text" hidden="true" name="id" />
                                            <button type="submit" class="btn btn-delete">Remove</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>

        <!-- End main body -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script>



            $('.deleteButton').click(function () {
                //clone dialog and remove ids to ensure uniqueness

                var modal = $('#deleteSupe');


                //apply custom values where needed
                var btn = $(this);
                var rowId = btn.attr('data-id');
                //                modal.find('[name="id"]').val(btn.attr('data-id'));
                modal.find('form').attr('action', "/deleteSupe/" + rowId);
                //                $modal.find('button[type="submit"]').attr('href', $modal.find('button[type="submit"]').attr('href'));
                //show dialog

            });


        </script>
    </body>
</html>;
